@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');

:root {
  --grey: #414141;
  --white: #fdfdfd;
  background-color: var(--white);
}

/*****************************************************
/*General*/
* {
  font-family: "Roboto";
  font-weight: 200;
  line-height: 150%;
 /* cursor: crosshair; */
}

body{
  text-align: center;
}

h1{
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h3, #chart-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #ffffff;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  color: #9ACCD3;
}
text {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.legend-text-wrapper {
  text-align: left;
}

.label-text{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.legend-text{
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
}

li {
  line-height: 1.6;
}

.info-text{
  line-height: 1.2;
  padding: 20px 200px;
}

/*****************************************************
/*Parallax-Effect*/

/*parallax background image*/
#parallax-img-1, #parallax-img-2, #parallax-img-3, #parallax-img-4, #parallax-img-5, #parallax-img-6{
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20%;
  background-attachment: fixed;
}
#parallax-img-1{
  height: 500px;
  background-image: url("../img/humans_earth.jpg");
}
#parallax-img-2{
  height: 0;
  background-image: url("../img/empty_plate.jpg");
}
#parallax-img-3{
  height: 0;
  background-image: url("../img/bmi.jpg");
}
#parallax-img-4{
  height: 0;
  background-image: url("../img/diabetes.jpg");
}
#parallax-img-5{
  height: 0;
  background-image: url("../img/healthy-food-medical-equipment.jpg");
}
#parallax-img-6{
  height: 0;
  background-image: url("../img/book-library-with-open-textbook.jpg");
}


/*Shade parallax background image*/
#parallax-img-1::before, #parallax-img-2::before, #parallax-img-3::before, #parallax-img-4::before, #parallax-img-5::before, #parallax-img-6::before  {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#parallax-img-1::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-2::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-3::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-4::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-5::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-6::before {
  background-color: rgba(0, 0, 0, 0.25);
}

/*****************************************************
/*image*/
#img-1 {
height: 500px;
}

/*text*/
p {
padding: 0px 250px 0px 250px;
text-align: left;
}

.parallax-big-text {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

.parallax-text {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}

/*text-box*/
h1 span, h2 span {
  color: var(--white) ;
  background-color: var(--grey);
  display: inline-block;
/*
  padding: 28px 20px 20px;
*/
}

/*****************************************************
/**/

span {
  display: inline-block;
  text-align: left;
  padding: 0 100px 0 80px;
}

#bmi-field{
  padding: 20px;
  outline-color: #2E7681;
  outline-width: 1px;
  outline-style: solid;
}

#svg_bmi{
  margin-top: 30px;
}
/*****************************************************
/*diagrams*/

.tooltipWindow {
  padding: 8px;
  position: absolute;
  max-width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  background: var(--grey);
  border: 1px;
  border-color: white;
  border-radius: 8px;
  pointer-events: none;
  visibility: hidden;
  color: white;
}

/*****************************************************
/*dropdown*/


ul{
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word
}

li{
  list-style-type: none;
  flex: 1 2 18em;
  margin-bottom: .3em;
}

label{

}

.selectionDiv {
  background-color: #f1f1f1;
  text-align: left;
  width: 1200px;
  margin: auto;
  decoration: none;
  border-style: none;
  border-color: #9ACCD3;
  border-width: 1px;
  height: 200px;
  margin-bottom: 60px;
  overflow: scroll;
}

/**************************************************/
/*Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


input {
  margin-left: 0px;
}


/*****************************************************
/*slider*/

/*make slider vertical*/
input[type="range"] {
  position: absolute;
  transform: rotate(270deg);
  width: 460px; /*is height*/ /* (height of histogram) */
  margin-left: -290px;
  margin-right: auto;
  height: 20px; /*is width*/
  margin-top: 295px;  /* (top of histogram + this.width/2) */
}

.year{
  position: absolute;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 565px;  /* (height + margin.bottom/2) */
  color: #9ACCD3;
  margin-left: -105px;
}

#yearFoodCat{
  position: absolute;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 565px;  /* (height + margin.bottom/2) */
  color: #2E7681;
>>>>>>> ba1cc90639e746974c4315a0f6c307973bfb468b
  margin-left: -105px;
}
/*********************************************************
tooltip
*/

div.tooltip {
  position: absolute;
  top: 60%;
  margin-top: 10px;
  padding: .55rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


span {
  top: 100%;
  opacity: 0.6;
}

/*Inputbox*/

.inputbox rect {

  fill: #FFFFFF;
  stroke: #348B6D;
  stroke-width: 2px;

}

.inputbox rect.active {

  fill: #D9F0E3;

}

.inputbox text {

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  fill: #494949;
  pointer-events: none;
  text-anchor: start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.inputbox text.value {
  text-anchor: end;
}

/***********************************************/
/*Containter*/

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }
/*    img {
    max-width: 40%
    }*/
    .container_food_text {
        padding-right: 40px;
        max-width: 10%;
        text-align: left;
    }
    .container_food_title {
        padding-right: 10px;
        padding-top: 20px;
        max-width: 5%;
        text-align: left;
        font-size: 36px;
        color: #9ACCD3;
        font-weight: bold;
    }
    .container_credits {
        min-width: 33%;
        text-align: left;
        align-items: center;
    }

.food_title {
    font-size: 36px;
    color: #9ACCD3;
    font-weight: bold;
    padding: 30px 200px 0px 200px;
    text-align: center;
}

.container_food_image {
    max-width: 100%;
    flex-basis: 70%;
}

.container-color-background {
    background: #9ACCD3;
    padding: 30px 250px 30px 250px;
}

.container-color-background-space {
    padding: 30px 300px 30px 300px;
}

.space {
    padding: 30px 0 0 0;
}

.font_white {
    color: white;
}

a, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    font-weight: 400;
    background-color: #9ACCD3;
}
a:hover {
    color: white;
    letter-spacing: 1px;
}
}