
:root {
  --grey: #414141;
  --white: #fdfdfd;
  background-color: var(--white);
}

/*****************************************************
/*General*/

* {
  font-family: sans-serif, Lato;
}

body{
  text-align:  center;
}

h1{
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h3, #chart-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

text {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.legend-text-wrapper {
  text-align: left;
}

.label-text{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.legend-text{
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
}

li {
  line-height: 1.6;
}

p{
  padding-bottom: 40px;
  padding-top: 40px;
}

.info-text{
  line-height: 1.2;
  padding: 20px 200px;
}

/*****************************************************
/*Parallax-Effect*/

/*parallax background image*/
#parallax-img-1, #parallax-img-2, #parallax-img-3, #parallax-img-4, #parallax-img-5, #parallax-img-6{
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20%;

  background-attachment: fixed;
}
#parallax-img-1{
  height: 500px;
  background-image: url("../img/humans_earth.jpg");
}
#parallax-img-2{
  height: 0;
  background-image: url("../img/empty_plate.jpg");
}
#parallax-img-3{
  height: 0;
  background-image: url("../img/bmi.jpg");
}
#parallax-img-4{
  height: 0;
  background-image: url("../img/diabetes.jpg");
}
#parallax-img-5{
  height: 0;
  background-image: url("../img/healthy-food-medical-equipment.jpg");
}
#parallax-img-6{
  height: 0;
  background-image: url("../img/book-library-with-open-textbook.jpg");
}


/*Shade parallax background image*/
#parallax-img-1::before, #parallax-img-2::before, #parallax-img-3::before, #parallax-img-4::before, #parallax-img-5::before, #parallax-img-6::before  {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#parallax-img-1::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-2::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-3::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-4::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-5::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#parallax-img-6::before {
  background-color: rgba(0, 0, 0, 0.25);
}

/*****************************************************
/*image*/
#img-1 {
height: 500px;
}

/*text*/
p {
padding-left: 150px;
padding-right: 150px;
}

.parallax-text {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

/*text-box*/
h1 span, h2 span {
  color: var(--white) ;
  background-color: var(--grey);
  display: inline-block;
  padding: 28px 20px 20px;
}

/*****************************************************
/**/

span {
  display: inline-block;
  text-align: left;
  padding: 0 100px 0 80px;
}

/*****************************************************
/*diagrams*/

.tooltipWindow {
  padding: 8px;
  position: absolute;
  max-width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  background: var(--grey);
  border: 1px;
  border-color: white;
  border-radius: 8px;
  pointer-events: none;
  visibility: hidden;
  color: white;
}

/*****************************************************
/*dropdown*/


ul{
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word
}

li{
  list-style-type: none;
  flex: 1 2 18em;
  margin-bottom: .3em;
}

label{

}

.selectionDiv {
  background-color: #F8F8F8 ;
  text-align: left;
  width: 1200px;
  margin: auto;
  border-style: solid;
  border-color: #414141;
  border-width: 1px;
  height: 200px;
  margin-bottom: 60px;
  overflow: scroll;
}

input {
  margin-left: 0px;
}


/*****************************************************
/*slider*/

/*make slider vertical*/
input[type="range"] {
  position: absolute;
  transform: rotate(270deg);
  width: 460px; /*is height*/ /* (height of histogram) */
  margin-left: -290px;
  margin-right: auto;
  height: 20px; /*is width*/
  margin-top: 295px;  /* (top of histogram + this.width/2) */
}

.year{
  position: absolute;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 565px;  /* (height + margin.bottom/2) */
  color: cornflowerblue;
  margin-left: -105px;
}

/*********************************************************
tooltip
*/

div.tooltip {
  position: absolute;
  top: 60%;
  margin-top: 10px;
  padding: .55rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


span {
  top: 100%;
  opacity: 0.6;
}

