@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');

:root {
  --grey: #414141;
  --white: #fdfdfd;
  background-color: var(--white);
}

/*****************************************************
/*General*/
* {
  font-family: sans-serif, "Roboto";
  font-weight: 200;
  line-height: 150%;
}

body{
  text-align: center;
}

h1{
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

h3, #chart-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #ffffff;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  color: #9ACCD3;
}
text {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.legend-text-wrapper {
  text-align: left;
}

.label-text{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.legend-text{
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
}

.info-text{
  line-height: 1.2;
  padding: 20px 200px;
}

/*****************************************************
/*Parallax-Effect*/

.bigImg{
  padding: 20%;
}

.smallImg{
  padding: 10%;
}

/*parallax background image*/
#parallax-img-1, #parallax-img-2, #parallax-img-3, #parallax-img-4, #parallax-img-5, #parallax-img-6{
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
#parallax-img-1{
  height: 500px;
  background-image: url("../img/humans_earth.jpg");
}
#parallax-img-2{
  height: 0;
  background-image: url("../img/empty_plate.jpg");
}
#parallax-img-3{
  height: 0;
  background-image: url("../img/bmi.jpg");
}
#parallax-img-4{
  height: 0;
  background-image: url("../img/diabetes.jpg");
}
#parallax-img-5{
  height: 0;
  background-image: url("../img/healthy-food-medical-equipment.jpg");
}
#parallax-img-6{
  height: 0;
  background-image: url("../img/book-library-with-open-textbook.jpg");
}

/*Shade parallax background image*/
#parallax-img-1::before, #parallax-img-2::before, #parallax-img-3::before, #parallax-img-4::before, #parallax-img-5::before, #parallax-img-6::before  {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#parallax-img-1::before, #parallax-img-2::before, #parallax-img-3::before, #parallax-img-4::before, #parallax-img-5::before, #parallax-img-6::before {
  background-color: rgba(0, 0, 0, 0.25);
}

.parallax-text, .parallax-big-text {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

/*paralax text-box*/
h1 span, h2 span {
  color: var(--white) ;
  background-color: var(--grey);
  display: inline-block;
  font-weight: normal;
  opacity: 0.7;
  padding-top: 0.2em;
  text-align: left;
}

h1 span{
  padding-left: 100px;
  padding-right: 100px;
}

h2 span{
  padding-left: 50px;
  padding-right: 50px;
}


/*****************************************************
/*diagrams*/

/*text*/
p {
  padding: 0px 20% 0px 20%;
  text-align: left;
}

/*****************************************************
/*dropdown*/


ul{
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  padding-inline-start: 40px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

li{
  list-style-type: none;
  flex: 1 2 18em;
  line-height: 1.6;
}

.selectionDiv {
  background-color: #f1f1f1;
  text-align: left;
  width: 1200px;
  margin: auto;
  decoration: none;
  border-style: none;
  border-color: #9ACCD3;
  border-width: 1px;
  height: 212px;
  margin-bottom: 60px;
  overflow: scroll;
  border-radius: 8px;
}

/**************************************************/
/*Scrollbar */

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*  width: 20px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  background: #f1f1f1;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: grey;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #555;*/
/*}*/


/*input {*/
/*  margin-left: 0px;*/
/*}*/


/*****************************************************
/*slider*/

.year{
  position: absolute;
  margin-bottom: 20px;
  letter-spacing: 10px;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 565px;  /* (height + margin.bottom/2) */
  color: #5c7d8c;
  margin-left: -105px;
  font-weight: 500;
}

#year_2{
  margin-top: 592px;  /* (height + margin.bottom/2) */
}

#slider2{
  margin-top: 322px;
}

/*make slider vertical*/
input[type="range"] {
  -webkit-appearance: none; /*deactivate default-styling*/
  position: absolute;
  transform: rotate(270deg);
  width: 460px; /*is height*/ /* (height of histogram) */
  margin-left: -290px;
  margin-right: auto;
  height: 20px; /*is width*/
  margin-top: 295px;  /* (top of histogram + this.width/2) */
}

/**********************/
/*Slider-Styling: */

/*Chrome - Background*/
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
  width: 460px;
  color: #9ACCD3;
  border-radius: 50px;
  margin-top: -1px;
  background-color: #c8e2e7;
}

/*Chrome - Thumb*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #5c7d8c; /* thumb color */
  border: none;
  border-radius: 50%;
  margin-top: -5px;
}

/*Firefox - Background*/
input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  height: 8px;
  width: 460px;
  color: #9ACCD3;
  border-radius: 50px;
  margin-top: -1px;
  background-color: #c8e2e7;
}

/*Firefox - Thumb*/
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #5c7d8c; /* thumb color */
  border: none;
  border-radius: 50%;
  margin-top: -5px;
}

/*********************************************************
tooltip
*/

div.tooltip {
  position: absolute;
  top: 60%;
  margin-top: 10px;
  padding: .55rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.tooltipWindow {
  padding: 8px;
  position: absolute;
  max-width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  background: var(--grey);
  border: 1px;
  border-color: white;
  border-radius: 8px;
  pointer-events: none;
  visibility: hidden;
  color: white;
}


span {
  top: 100%;
}

/***********************************************************/
/*Checkboxes*/

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 130% !important;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #c8e2e7;
}

/* On mouse-over, add a background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: #5c7d8c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/***********************************************/
/*Containter*/

.flex_container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }
/*    img {
    max-width: 40%
    }*/
    .container_food_text {
        padding-right: 40px;
        max-width: 10%;
        text-align: left;
    }
    .container_food_title {
        padding-right: 10px;
        padding-top: 20px;
        max-width: 5%;
        text-align: left;
        font-size: 36px;
        color: #9ACCD3;
        font-weight: bold;
    }
    .container_credits {
        min-width: 33%;
        text-align: left;
        align-items: center;
    }

.food_title {
    font-size: 36px;
    color: #9ACCD3;
    font-weight: bold;
    text-align: center;
}

.container_food_image {
    max-width: 100%;
    flex-basis: 70%;
}

.container-color-background {
    background: #9ACCD3;
    padding: 30px 250px 30px 250px;
}

.container-color-background-space {
    padding: 30px 300px 30px 300px;
}

.space {
    padding: 30px 0 0 0;
}

.font_white {
    color: white;
}

a, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    font-weight: 400;
    background-color: #9ACCD3;
}
a:hover {
    color: white;
    letter-spacing: 1px;
}


/*********************************/
/*Img*/
.bmi_calc_image{
  margin-top: 20px;
}

.bmi_groups{
  width: 500px;
}



.bottom_margin{
  margin-bottom: 30px;
}

/*********************************/
/*BMI-Input-Field*/
.bmi_input_div {
  background-color: #f1f1f1;
  text-align: left;
  width: 800px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}

.bmi-attr {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 130% !important;
}

.inputbox {
  background-color: #FFF;
  border-radius: 4px;
  border-width: 1px;
  padding: 8px;
}

.input_b{
  width: 175px;
  height: 20px;
}

#bmi-results{
  color: darkred;
}


.something-wrong-div{
  height: 12px;
}

.bmi-attr input{
  padding: 8px;
}

#svg_bmi{
  margin-top: 30px;
}

#sug-dia-field text{
  margin-right: 8px;
}
